<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <!-- Vue.js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Vue Hello</title>
</head>
<body>
    <div id="app">
        <div class="container">
            <div>
                <h1>Hello  {{ message }}!</h1>
                <img :src="imageUrl" alt="Vue meme">
            </div>
            <div class="form flex">
                <div class="flex">
                    <label for="title">Change the page title <span>&rarr;</span></label>
                    <input type="text" name="title" id="title" v-model="message">
                </div>
                <div class="flex">
                    <label for="image">Change the image url <span>&rarr;</span></label>
                    <input type="text" name="image" id="image" v-model="imageUrl">
                </div>
            </div>
        </div>
    </div>

    <script src="js/script.js"></script>
</body>
</html>